<!--
#######################################
## Bonus: Iteration 5 - Beer partial ##
####################################### -->

<div class='col beer-card'>
  <div class='beer-img'>
    <img src='{{image_url}}' alt='{{name}}' />
  </div>
  <div class='beer-details'>
    <h6><b>{{name}}</b></h6>
    <p class='tagline'>{{tagline}}</p>
    <p class='description'>{{description}}</p>
  </div>
</div>
